<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Drama</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="title"
        placeholder="Wpisz tytuł">
    </div>

    <label class="col-sm-2 col-form-label">Odcinki</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="episodes"
        placeholder="Wpisz liczbę odcinków">
    </div>

    <label class="col-sm-2 col-form-label">Kraj</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="country"
        placeholder="Wpisz kraj pochodzenia">
    </div>

    <label class="col-sm-2 col-form-label">Gatunek</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="genre">
            <option>--Wybierz--</option>
            <option *ngFor="let gengenre of GenreList">
                {{gengenre.genre}}
            </option>
        </select>
    </div>

    <label class="col-sm-2 col-form-label">Premiera</label>
    <div class="col-sm-10">
        <input type="date"  [(ngModel)]="premiere">
    </div>


</div> 


<div class="ml-3 bd-highlight" style="width: 40%;">
<img [src]=PosterPath height= "400px;" width= "160px;">
<input type="file" (change)="uploadPoster($event)" class="mt-2"/>

</div>


<button (click)="addDrama()" *ngIf="dr.id_drama==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateDrama()" *ngIf="dr.id_drama!=0" class="btn btn-primary">
    Update
</button>